body {
    font-family: 'Roboto Mono', monospace;
    color: #222;
}

header {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 15%;
    flex-wrap: wrap;
}

nav a {
    color: #222;
    margin-bottom: 20px;
}

.content {
    margin: 0 25%;
    text-align: justify;
}

.content h2 {
    text-align: center;
    margin-bottom: 0;
}

.content h3 {
    margin-top: 0;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

.content h5 {
    font-size: 16px;
}

@media (max-width: 1200px) {
    .content {
        margin: 0 15%;
    }
}